<h1>Register Client</h1>

<%= form_for @changeset, client_path(@conn, :create), fn f -> %>
  <div>
    <%= label f, :name %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
  </div>

  <div>
    <%= label f, :email %>
    <%= text_input f, :email %>
    <%= error_tag f, :email %>
  </div>

  <div>
    <%= label f, :phone %>
    <%= text_input f, :phone %>
    <%= error_tag f, :phone %>
  </div>

  <div>
    <%= submit "Register" %>
  </div>
<% end %>
