<.header>
  WELCOME
  <:subtitle>Choose the role you want</:subtitle>
</.header>

<.link navigate={~p"/admin"} class="custom-button">Admin</.link>
<.link navigate={~p"/teller"} class="custom-button">Teller</.link>
<.link navigate={~p"/clients/new"} class="custom-button">Client</.link>
