<.header>
  New Client
  <:subtitle>Use this form to register a new client.</:subtitle>
</.header>

<.client_form changeset={@changeset} action={~p"/clients"} />

<.back navigate={~p"/"}>Back to Home</.back>
